{% extends '::base.html.twig' %}
 
{% block body %}

<h1>{{ page_title }}</h1>

<ul id="navigation">
    <li>{{ product.id }}</li>
    <li>{{ product.name }}</li>
    <li>{{ product.description }}</li>
</ul>

{% endblock %}