{% extends '::base.html.twig' %}
 
{% block body %}
<h1>{{ page_title }}</h1>

<ul id="navigation">
    {% for category in categories %}
    	<li><a href="#"> {{ category.name }} </a></li>
    	
	{% endfor %}
</ul>

<ul id="navigation">
    {% for product in products %}
    	<li><a href="{{ path('acme_products_concrete', {'id': product.id}) }}"> {{ product.name }} </a></li>
    	
	{% endfor %}
</ul>

{% endblock %}