{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ page_title }}</h1>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
        <input type="hidden" name="_target_path" value="/admin" />

        <button type="submit">login</button>
    </form>

{% endblock %}
