{% extends '::base.html.twig' %}
 
{% block body %}

<h1>{{ page_title }}</h1>

<ul id="navigation">
    {% for shopfront in shopfronts %}
    	<li><a href="{{ path('acme_shopfronts_concrete', {'id': shopfront.id}) }}"> {{ shopfront.name }} </a></li>
    	
	{% endfor %}
</ul>

{% endblock %}