<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'AcmeShopfrontsBundle:Header:admin_header.html.twig' %}
        {% elseif is_granted('ROLE_USER') %}
            {% include 'AcmeShopfrontsBundle:Header:user_header.html.twig' %}
        {% else %}
            {% include 'AcmeShopfrontsBundle:Header:public_header.html.twig' %}
        {% endif %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
