{% extends '::base.html.twig' %}
 
{% block body %}

<h1>{{ page_title }}</h1>

<ul id="navigation">
    <li>{{ presentation.id }}</li>
    <li>{{ presentation.name }}</li>
    <li>{{ presentation.description }}</li>
</ul>

<h2> Productos </h2>

<ul id="productos">
    {% for product in presentation.products %}
    	<li><a href="#"> {{ product.name }} </a></li>
	{% endfor %}
</ul>

Añadir producto:
{% for product in products %}
   	<li>{{ product.name }} <a href="{{ path('acme_presentations_add_product', {'id': presentation.id,'id_product': product.id}) }}"> Añadir producto </a></li>
{% endfor %}

{% endblock %}