{% extends '::base.html.twig' %}
 
{% block body %}

<h1>{{ page_title }}</h1>

<ul id="navigation">
    {% for presentation in presentations %}
    	<li>
    		<a href="{{ path('acme_presentations_concrete', {'id': presentation.id}) }}"> {{ presentation.name }} </a>
    		<a href="{{ path('acme_presentations_play', {'id': presentation.id}) }}" target="_blank">play</a>
    	</li>
    	
	{% endfor %}
</ul>

{% endblock %}