<ul>
    <li><a href="{{ path('shopfronts_admin_index') }}">Index</a></li>
    <li><a href="{{ path('acme_shopfronts_homepage') }}">Users</a></li>
    <li><a href="{{ path('acme_presentations_homepage') }}">Presentations</a></li>
    <li><a href="{{ path('acme_products_homepage') }}">Products</a></li>
    <li><a href="{{ path('logout') }}">Salir</a></li>
</ul>