<ul>
    <li><a href="{{ path('shopfronts_user_index') }}">Index</a></li>
    <li><a href="{{ path('acme_presentations_homepage') }}">My Presentations</a></li>
    <li><a href="{{ path('acme_products_homepage') }}">My Products</a></li>
    <li><a href="{{ path('logout') }}">Salir</a></li>
</ul>